@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Caprasimo&family=Roboto:wght@300&display=swap');


/* font-family: 'Belanosima',sans-serif;
font-family: 'Caprasimo',cursive;
font-family: 'Roboto',sans-serif; */

* {
  /* border: 2px solid black;
  margin: 10px; */
  /* margin: 2px; */
  text-decoration: none;
  color: black
}

body{
  color: #222;
}

img{
  max-width: 100%;
}
main{
  padding: 10px;
  margin: auto;
}

header{
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  padding: 10px;
  border-bottom: 2px solid black;
}

.logo{
  font-family: 'Caprasimo', cursive;
  font-size: 1.8rem;
  color: darkslategrey;
}

.author{
  font-weight: bold;
  font-size: 0.9rem;
}

.time{
  font-weight: lighter;
  font-size: 0.8rem;
}

header a{
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.5s;
}

header a:hover{
  background-color: lightgrey;
  color: black;
}

header a.logo{
  font-weight: bold;
}

header nav{
  display: flex;
  gap: 15px;
}

.post{
  display: flex;
  border-bottom: 2px solid lightgray;
  margin-top: 50px;
}

.image{
  display: flex;
  align-items: center;
}

.texts{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.heading{
  font-size: 1.5rem;
  font-family: 'Belanosima', sans-serif;
}

.para{
  font-family: 'Roboto', sans-serif;
}

img{
  border-radius: 20px;
}