@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Caprasimo&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');

/* font-family: 'Belanosima',sans-serif;
font-family: 'Caprasimo',cursive;
font-family: 'Roboto',sans-serif; */

* {
  text-decoration: none;
  color: black
}

body{
  color: #222;
}

img{
  max-width: 100%;
}
main{
  padding: 10px;
  margin: auto;
}

header{
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  padding: 10px;
  border-bottom: 2px solid black;
}

.logo{
  font-family: 'Caprasimo', cursive;
  font-size: 1.8rem;
  color: rgb(49, 49, 49)
}

.author{
  font-weight: bold;
  font-size: 0.9rem;
}

.time{
  font-weight: lighter;
  font-size: 0.8rem;
  color: rgb(94, 94, 94);
}

header a{
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.5s;
  background-color: rgba(177, 177, 177, 0.32);
}

header a:hover{
  background-color: rgb(139, 138, 138);
  color: black;
  cursor: pointer;
}


.logo:hover{
  color: rgba(255, 255, 255, 0.858);
  background-color: rgba(0, 0, 0, 0.559);
}

header nav div{
  display: flex;
  gap: 15px;
}

.post{
  display: flex;
  border-bottom: 2px solid lightgray;
  margin-top: 50px;
  margin-left: 1vw;
  padding: 5px;
}

.image{
  display: flex;
  align-items: center;
}

.image img{
  height: 30vh;
}

.texts{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.heading a{
  font-family: 'Bacasime Antique', serif;
  font-size: 5vmin;
  text-decoration: underline;
  text-decoration-color: lightslategrey;
}

.para{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  word-wrap: break-word;
  max-width: 70vw;
  font-style: italic;
}

img{
  border-radius: 20px;
}

#Name{
  align-items: center;
  border-bottom: 2px solid black;
}

.heading{
  word-wrap: break-word;
  max-width: 70vw;
}