@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Caprasimo&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@400;500;600;700&family=Roboto:wght@300&display=swap');
/* 
font-family: 'Belanosima',sans-serif;
font-family: 'Caprasimo',cursive;
font-family: 'Open Sans',sans-serif;
font-family: 'Poppins',sans-serif;
font-family: 'Roboto',sans-serif; */

*{
    outline: none;
    border: none;
    background-color: rgb(245, 245, 245);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.content{
    display: flex;
    height: 91vh;
}

p{
    margin-bottom: 2em;
    border-bottom: 2px solid;
    border-bottom-style: outset;
}

form{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 90%;
    width: 90%;
    font-size: 2.5vmin;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

input{
    border: 2px solid black;
    margin-bottom: 1.5vmin;
    margin-top: 1.2rem;
    padding: 0.5rem;
    border-radius: 10px;
    outline: none;
    width: 50%;
}

button{
    background-color: lightgray;
    padding: 10px;
    width: 100px;
    margin: 10px;
    font-size: 2vmin;
}
.button{
    background-color: lightgray;
    padding: 10px;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 2vmin;
    border-radius: 10px;
}
button:hover,.button:hover {
    background-color: darkgray;
}

.loginArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:darkslategrey;
    flex-grow: 1;
    justify-content: center;
} 

.banner{
    flex-grow: 1;
    min-width: 50vw;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Belanosima', sans-serif;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 2vw;
}
.bannerText{
    background: none;
}
span{
    background: none;
    font-family: 'Caprasimo', cursive;
    color: darkslategrey;
    border-bottom: 2px;
    border-bottom-style:double;
}

button{
    cursor: pointer;
    border-radius: 10px;
}

/* .headerHome{
    background-color: rgba(0, 132, 255, 0.694);
    color: white;
} */

/* .headerMy{
    background-color: rgba(0, 132, 255, 0.694);
    color: white;
}

.headerCreate{
    background-color: rgba(30, 215, 2, 0.694);
    color: white;
} */

.headerLogout{
    background-color: rgb(255, 60, 60);
    color: white;
}

/*.headerLogin{
    background-color: rgb(228, 222, 36);
    color: white;
}

.headerRegister{
    background-color: rgb(30, 215, 0.694);
    color: white;
} */